
html{
    width: 400px;
    height: 420px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

body{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    color: var(--txt-color);
    background-color: var(--bg-color);
    --txt-color: #212427;
    --bg-color: #ffffff;
    --bg-contain-color: #ffffff;
    --bg-note-color: #faf9f9;
    --bg-note-hover-color:#ffffff; 
    --bg-btn-hover-color:#f6f0f0;
    --bg-btn-active-color: #242428;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body.dark{
    color: var(--txt-color);
    --txt-color: #ffffff;
    --bg-color: #2e2d2d;
    --bg-contain-color: #3e3b3b;
    --bg-note-color: #454343;
    --bg-note-hover-color:#4a4848;
    --bg-btn-hover-color: #504e4e;
    --bg-btn-active-color: #e2e2e9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.extension-title{
    font-weight: bold;
    margin-left: 20px;
    font-size: 13px;
}

.container{
    background-color: var(--bg-contain-color);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgb(208, 211, 211) rgb(251, 253, 253);
    height: 280px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    border-radius: 10px;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.buttons-section{
    display: flex;
    justify-content: space-around;
}

.button-description{
    text-align: center;
    margin: 5px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.titleInput{
    border-radius: 3px;
    border-width: 1px;
    background-color: var(--bg-contain-color);
    border-color: #929397;
    color: var(--txt-color);
}


.noteInputDiv{
    width: 300px;
    height: 250px;
    padding-left: 38px;
    padding-top: 12px;
}


.noteCard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--bg-note-color);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.noteCard:hover{
    background-color: var(--bg-note-hover-color);
}

.pinnoteCard{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px;
    background-color: var(--bg-note-color);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.pintitleP{
    padding-left: 10px;
}

.pintextP{
    padding-left: 10px;
}

.pindateP{
    padding-left: 10px;
}

.pinnoteCard:hover{
    background-color: var(--bg-note-hover-color);
}

.pinbtnsdiv{
    padding-left: 10px;
    padding-bottom: 10px;
}

.cpytextbtn{
    margin-right: 10px;
}

.cpytextbtn:active{
    background-color: var(--bg-btn-active-color);
}

.textInput{
    background-color: var(--bg-contain-color);
    margin-top: 3px;
    height: 200px;
    border-radius: 3px;
    border-color: #929397;
    color: var(--txt-color);
}


.editbtn{
    cursor: pointer;
}

.deletebtn{
    cursor: pointer;
    border-radius: 100%;
    padding: 5px;
    border-width: 0px;
    background-color: var(--bg-note-color);
}

.deletebtn:hover{
    background-color: var(--bg-btn-hover-color);
}

.deletebtn:active{
    background-color: var(--bg-btn-active-color);
}

.voicebtn{
    cursor: pointer;
    border-radius: 100%;
    padding: 5px;
    border-width: 0px;
    background-color: var(--bg-contain-color);
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
}

.voicebtn:hover{
    background-color: var(--bg-btn-hover-color);
}

.voicebtn:active{
    background-color: var(--bg-btn-active-color);
}

.pinnedbtn{
    cursor: pointer;
    border-radius: 100%;
    padding: 5px;
    border-width: 0px;
    background-color: var(--bg-note-color);
}

.pinnedbtn:hover{
    background-color: var(--bg-btn-hover-color);
}

.pinnedbtn:active{
    background-color: var(--bg-btn-active-color);
}

.editbtn{
    cursor: pointer;
    border-radius: 100%;
    padding: 5px;
    border-width: 0px;
    background-color: var(--bg-note-color);
}

.editbtn:hover{
    background-color: var(--bg-btn-hover-color);
}

.editbtn:active{
    background-color: var(--bg-btn-active-color);
}

.savebtn{
    cursor: pointer;
    border-radius: 100%;
    padding: 5px;
    border-width: 0px;
    background-color: var(--bg-contain-color);
}

.savebtn:hover{
    background-color: var(--bg-btn-hover-color);
}

.savebtn:active{
    background-color: var(--bg-btn-active-color);
}

.cancelbtn{
    cursor: pointer;
    border-radius: 100%;
    padding: 5px;
    border-width: 0px;
    background-color: var(--bg-contain-color);
}

.cancelbtn:hover{
    background-color: var(--bg-btn-hover-color);
}

.cancelbtn:active{
    background-color: var(--bg-btn-active-color);
}


.add-note-btn{
    cursor: pointer;
    border-radius: 100%;
    padding: 10px;
    border-width: 0px;
    background-color: var(--bg-color);
}

.add-note-btn:hover{
    background-color: var(--bg-btn-hover-color);
}

.add-note-btn:active{
    background-color: var(--bg-btn-active-color);
}

.view-notes-btn{
    cursor: pointer;
    border-radius: 100%;
    padding: 10px;
    border-width: 0px;
    background-color: var(--bg-color);
}

.view-notes-btn:hover{
    background-color: var(--bg-btn-hover-color);
}

.view-notes-btn:active{
    background-color: var(--bg-btn-active-color);
}

.pinned-notes-btn{
    cursor: pointer;
    border-radius: 100%;
    padding: 10px;
    border-width: 0px;
    background-color: var(--bg-color);
}

.pinned-notes-btn:hover{
    background-color: var(--bg-btn-hover-color);
}

.pinned-notes-btn:active{
    background-color: var(--bg-btn-active-color);
}

.theme-btn{
    cursor: pointer;
    border-radius: 100%;
    padding: 10px;
    border-width: 0px;
    background-color: var(--bg-color);
}

.theme-btn:hover{
    background-color: var(--bg-btn-hover-color);
}

.theme-btn:active{
    background-color: var(--bg-btn-active-color);
}

.cpytextbtn{
    cursor: pointer;
    border-radius: 100%;
    padding: 10px;
    border-width: 0px;
    background-color: var(--bg-note-color);
}

.cpytextbtn:hover{
    background-color: var(--bg-btn-hover-color);
}

.cpytextbtn:active{
    background-color: var(--bg-btn-active-color);
}

.unpinbtn{
    cursor: pointer;
    border-radius: 100%;
    padding: 10px;
    border-width: 0px;
    background-color: var(--bg-note-color);
}

.unpinbtn:hover{
    background-color: var(--bg-btn-hover-color);
}

.unpinbtn:active{
    background-color: var(--bg-btn-active-color);
}

.pintitleP{
    color: var(--txt-color);
    font-weight: 900;
    font-size: 20px;
    margin: 3px;
}

.noNotesMessage{
    margin-top: 50px;
    text-align: center;
}

